#Header{
	border: solid 8px black;
	width:500px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	text-align: center;
	box-shadow: 10px 20px;
	border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px; 
}

#Header h1 {
	font-size: 60px;
	color: #FFCB00;
	font-weight: bold;
	font-family: "Passion One" ;
border-style: dashed;
text-decoration: underline
}

p {
	color: white;
	font-family: "arial";
	font-weight: bold;
	border-style: dotted;

}

body {
	background-image: url(pink.jpg);

}

h3 {
	color: #FFBC00;
	font-size: 40px;
	font-family:"Passion One";
	margin-bottom: 0px;
	outline-style: double
}



#LeftNav{
	width:400px;
	padding-bottom: 8px
	margin-bottom: 10px;
	border: solid 8px black;
	text-align: center;
	float:left;


}

#Content{
	width:700px;
	padding: 15px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
	border: solid 8px black;
	text-align: center;
}

#Footer{
	border: solid 8px black;
	text-align: center;

}
